.colibri,
.colibri > label {
  border-radius: 4px;
}

.colibri {
  position: relative;
  width: 320px;
  height: 213px;
  background: #fafafa;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 1.5;
}

.colibri:hover .colibri__icon {
  transform: scale3d(1,1,1);
}

.colibri > label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  border: 1px dashed #979797;
  text-align: center;
  cursor: pointer;

  justify-content: center;
  align-items: center;
}


.colibri__icon {
  display: block;
  margin: 0 auto 1rem;
  width: 4rem;
  height: 4rem;
  transition: all ease .4s;
  transform: scale3d(.9,.9,2);
}

.colibri input {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: .1px;
  height: .1px;
  opacity: 0;
}

.colibri progress {
  margin-top: 1.5rem;

  appearance: none;
}

.colibri progress[value]::-webkit-progress-bar {
  border-radius: 3px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1) inset;
}

.colibri progress[value]::-webkit-progress-value {
  border-radius: 3px;
  background-color: #42a5f5;
}

/* after upload
-------------------------------------------------------------- */

.colibri--afterUpload {
  background-color: #000;
}

.colibri--afterUpload .colibri__label {
  display: none;
}

.colibri--afterUpload:hover .colibri__label {
  display: flex;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.colibri--afterUpload .colibri__label svg {
  fill: #fff;
}

/* during upload
-------------------------------------------------------------- */

.colibri--duringUpload > label {
  display: flex;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

/* dragover
-------------------------------------------------------------- */

.colibri--dragover {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.colibri--dragover > label {
  display: flex;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

.colibri--dragover svg {
  transition: none;

  fill: #fff;
}
